@import './base.css';

:root {
	--primary: #ff9900;
	--secondary: #35495e;
	--error: #e63946;
	--text-color: #333;

	--radius: 6px;
	--spacing-1: 0.25rem;
	--spacing-2: 0.5rem;
	--spacing-3: 0.75rem;
	--spacing-4: 1rem;
	--spacing-5: 1.5rem;
	--spacing-6: 2rem;
	--spacing-7: 2.5rem;
	--spacing-8: 3rem;
	--spacing-9: 4rem;
	--spacing-10: 5rem;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	background-color: white;
	color: var(--text-color);
	min-height: auto;
}

main {
	max-width: 1280px;
	height: calc(100vh - var(--spacing-9) - var(--spacing-6));
	padding: 0;
	font-weight: normal;
	margin-top: var(--spacing-9);
	margin-bottom: var(--spacing-6);
}

#app {
	width: 100vw;
}

@media (min-width: 1024px) {
	body {
		display: flex;
		place-items: center;
	}

	main {
		height: calc(100vh - var(--spacing-10) - var(--spacing-6));
		margin: 0 auto;
		padding: 0 var(--spacing-4);
		margin-top: var(--spacing-10);
	}
}
