@import './base.css';

:root {
	--primary: #ff9900;
	--secondary: #35495e;
	--error: #e63946;
	--text-color: #333;

	--radius: 4px;
	--spacing: 8px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	background-color: white;
	color: var(--text-color);
}

main {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	font-weight: normal;
	margin-top: 40px;
}

#app {
	width: 100vw;
}

@media (min-width: 1024px) {
	body {
		display: flex;
		place-items: center;
	}

	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 0 2rem;
		margin-top: 80px;
	}
}
